# Python
*.pyc
__pycache__/
*.pkl
*.yaml
*.pye
*.egg-info/
*.egg
dist/
build/
# Datasets

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log
*.out
*.err
slurm-*

# Temporary files
*.tmp
*.temp
temp_input/
results/noisy_channel/ddcm/DIV2K_valid_HR_512_run*/
Turbo-DDCM-master/sorted_tensor.csv
