matplotlib
numpy
pandas
diffusers>=0.35.0
Pillow
scikit-image
pyiqa
torch==2.6.0
torchvision==0.21.0
tqdm==4.67.1
transformers>=4.57.0
accelerate>=1.1.0
sentencepiece
protobuf
peft
scikit-learn
umap-learn
scipy
torchmetrics>=1.0.0
neuralcompression
# Fixed dependency conflicts
packaging>=25.0
importlib-metadata>=8.5.0
typing-extensions>=4.13.2
requests>=2.32.2
fsspec[http]>=2023.1.0,<=2024.9.0
